<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I obtained my BSc degree in Electronics and Telecommunication Engineering and my MSc degree (with a focus on Signal Processing) at the University of Brescia, Italy, where I was born and raised 🇮🇹
    </p>
    
    <p>
      After my Master Degree, I worked in a multidisciplinary group between Glasgow, Scotland 🏴󠁧󠁢󠁳󠁣󠁴󠁿 and my hometown to develop AI pipelines for Brain MRI segmentation.
    </p>

    <p>
      Currently, I am a research scholar at the <a href="aim.hms.harvard.edu">Harvard's AIM Program</a> 🇺🇸 and a PhD Student at Maastricht University 🇳🇱
    </p>

    <p>
      I am also part of the NCI's <a href="https://github.com/ImagingDataCommons">Imaging Data Commons team</a>, working on integrating AI-based medical image analysis pipelines in the <a href="https://datacommons.cancer.gov/repository/imaging-data-commons">platform</a>.
    </p>
    
  </div>
</section>