<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I am currently a Postdoctoral researcher at the Computational Biology Department of the University of Lausanne, where I work in a multidisciplinary team on projects that spans genetics, computational science, and clinical practice. My research is focused on enhancing disease risk prediction by linking genetic profiles with vascular traits derived from retinal imaging, helping the diagnosis and management of vascular diseases.
    </p>

    <br>
    
    <p>
      I obtained my BSc degree in Electronics and Telecommunication Engineering and my MSc degree (with a focus on Signal Processing) at the University of Brescia, Italy, where I was born and raised 🇮🇹
    </p>
    
    <p>
      After my Master Degree, I worked in a multidisciplinary group between Glasgow, Scotland 🏴󠁧󠁢󠁳󠁣󠁴󠁿 and my hometown to develop AI pipelines for Brain MRI segmentation.
    </p>

    <p>
      I then pursued my Ph.D. at Maastricht University 🇳🇱 and was a research scholar at the <a href="aim.hms.harvard.edu">Harvard's AIM Program</a> 🇺🇸.
    </p>
    
    <p>
      During this time, my research focused on AI applied to clinical and medical imaging data (such as CT, MRI, and X-Ray), especially in the fields of radiology, radiation oncology and cardiology. During my Ph.D., I developed a profound interest in open source, open science and reproducible research. This interest eventually led me and a few colleagues sharing the open source values to the development of <a href="https://mhub.ai">MHub.ai</a> - a platform that aims to revolutionize the dissemination of AI models in medical imaging by providing meticulously curated, optimized, and portable AI-based imaging pipelines, empowering researchers with reproducible science and cutting-edge advancements in the field.
    </p>

    <p>
      In keeping with this theme, I was also part of the <a href="https://datacommons.cancer.gov/repository/imaging-data-commons">NCI's Imaging Data Commons</a> team, where I worked on integrating AI-based medical image analysis pipelines into the platform and harnessing the power of the cloud for reproducible research.
    </p>
    
  </div>
</section>
