<header class="intro">
  <h1 class="intro__hello">Hello There!
    <span class="emoji wave-hand animated"></span>
  </h1>

  <h2 class="intro__tagline">I'm
    <span class="name">Dennis!</span><br>
    I am a passionate researcher, coder and Linux enthusiast trying to build software to accelerate AI solutions into clinical practice.
    <span class="emoji robot"> </span><span class="emoji hospital"></span>
  </h2>

  <h3 class="intro__contact">
    <span>Get in touch </span>
    <span class="emoji pointer"></span>
    <span>
      <a href="mailto:dbontempi@bwh.harvard.edu" target="_blank" class="highlight-link">dbontempi@bwh.harvard.edu</a>
    </span>
  </h3>
</header>
